/* All Common Css Start  */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul,
ol {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
.container {
  width: 1240px;
  margin: 0 auto;
}
/* All Common Css End */

/* Header Part Start  */
#header {
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu ul li {
  display: inline-block;
}
.menu ul li a {
  padding: 0 37px;
  color: black;
  font-size: 16px;
  font-family: "Poppins", serif;
  font-weight: 500;
  line-height: 100px;
  transition: 0.4s;
}
.menu ul li a:hover {
  color: rgb(190, 13, 13);
}
.icon_flex {
  display: flex;
  align-items: center;
  column-gap: 45px;
}
/* Header Part End */

/* Banner Part Start  */
#banner {
  padding-bottom: 10px;
}
.banner_bg {
  background: url(../images/shop\ banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner_overly {
  padding-top: 111px;
  padding-bottom: 111px;
  text-align: center;
}
.banner_overly h2 {
  font-size: 48px;
  font-weight: 500;
  color: #000000;
}
.banner_overly h5 {
  padding-top: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.banner_overly .p {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
}
/* Banner Part End  */

/* Blog Part Start  */
#blog {
  padding-top: 110px;
  padding-bottom: 55px;
}
.blog_flex {
  display: flex;
  justify-content: space-between;
}
.flex_one {
  width: 60%;
}
.flex_two {
  width: 30%;
}
.flex_one .part_one img {
  display: block;
  width: 100%;
}
.flex_one .part_one span {
  padding-left: 12px;
  padding-right: 35px;
  font-size: 16px;
  font-weight: 400;
  color: #9f9f9f;
}
.flex_one .part_one i {
  color: #9f9f9f;
}
.flex_one .part_one h1 {
    padding: 30px 0;
    font-size: 30px;
    font-weight: 500;
    color: #000000;
}
.flex_one .part_one p {
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: 400;
    color: #9F9F9F;
    line-height: 25px;
}
.flex_one .part_one a {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    text-decoration: underline;
}

/* Blog Part End  */
