/* All Common Css Start  */
* {
  margin: 0;
  padding: 0;
  /* if full website has 1 font family  */
  font-family: "Poppins", serif;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul,
ol {
  list-style-type: none;
}
h1,
h2,
.icons,
p,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
.container {
  width: 1240px;
  margin: 0 auto;
}
/* All Common Css End */

/* Header Part Start  */
#header {
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu ul li {
  display: inline-block;
}
.menu ul li a {
  padding: 0 37px;
  color: black;
  font-size: 16px;
  font-family: "Poppins", serif;
  font-weight: 500;
  line-height: 100px;
  transition: 0.4s;
}
.menu ul li a:hover {
  color: rgb(190, 13, 13);
}
.icon_flex {
  display: flex;
  align-items: center;
  column-gap: 45px;
}
/* Header Part End */

/* Show Prdct Start  */
#show_p {
  padding: 45px 0;
  background: #f9f1e7;
}
.show_p_flex {
  display: flex;
  align-items: center;
}
.show_p_flex_one p {
  padding-left: 30px;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #9f9f9f;
}
.show_p_flex_one span {
  padding-left: 20px;
  font-size: 20px;
  color: #000000;
}
.show_p_flex_two p {
  margin-left: 30px;
  padding-left: 30px;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  position: relative;
}
.show_p_flex_two p::before {
  content: "";
  position: absolute;
  top: -11px;
  left: 0;
  width: 2px;
  height: 37px;
  background: #9f9f9f;
}
/* Show Prdct End */

/* Single Product Start  */
#product {
  padding-top: 35px;
  padding-bottom: 65px;
  -webkit-box-shadow: 0px 0.5px 0.5px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 0.5px 0.5px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 0.5px 0.5px 0px rgba(0, 0, 0, 0.23);
}
.product_flex {
  display: flex;
}
.product_item_one {
  display: flex;
}
.product_item_one .image_small img {
  width: 100%;
  display: block;
}
.product_item_one .image_small {
  width: 80px;
  height: 80px;
  margin-bottom: 32px;
  border-radius: 10px;
  vertical-align: middle;
  background: #f9f1e7;
}
.image_big {
  width: 480px;
  height: 500px;
  margin-left: 30px;
  background: #f9f1e7;
  border-radius: 10px;
}
.image_big img {
  display: block;
}
.product_item_two {
  margin-left: 100px;
}
.product_item_two h1 {
  font-size: 42px;
  font-weight: 400;
  color: #000000;
}
.product_item_two h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  color: #9f9f9f;
}
.product_item_two .icons i {
  width: 20px;
  height: 20px;
  color: #ffc700;
}
.product_item_two .icons p {
  padding: 0 0;
  padding-left: 15px;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  color: #9f9f9f;
  position: relative;
}
.product_item_two .icons p::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  height: 37px;
  width: 1px;
  background: #9f9f9f;
}
.product_item_two p {
  padding-top: 22px;
  padding-bottom: 20px;
  padding-right: 108px;
  font-size: 13px;
  font-weight: 400;
  color: #000000;
  line-height: 25px;
}
.product_item_p_two {
  padding-bottom: 60px;
  -webkit-box-shadow: 0px 0.5px 0.5px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 0.5px 0.5px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 0.5px 0.5px 0px rgba(0, 0, 0, 0.23);
}
.product_item_p_two p {
  padding: 10px 0;
  font-size: 14px;
  font-weight: 400;
  color: #9f9f9f;
}
.product_item_p_two .l {
  margin-left: 0;
  padding: 10px 15px;
  background: #b88e2f;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  border-radius: 5px;
}
.product_item_p_two a {
  margin-left: 10px;
  padding: 10px 10px;
  background: #f9f1e7;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  border-radius: 5px;
}
.product_item_p_two .clr p {
  padding-top: 15px;
}
.clr_flex {
  display: flex;
}
.product_item_p_two .clr .blue {
  margin-right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #816dfa;
}
.product_item_p_two .clr .black {
  margin-right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #000000;
}
.product_item_p_two .clr .chclt {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #b88e2f;
}
.product_item_p_two .nmbr {
  display: flex;
}
.product_item_p_two .nmbr .nmbr_one p {
  display: inline-block;
  padding: 0 35px;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.product_item_p_two .nmbr_one {
  width: 123px;
  height: 64px;
  margin-top: 30px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #9f9f9f;
  line-height: 65px;
}
.product_item_p_two .nmbr_two p {
  display: inline-block;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}
.product_item_p_two .nmbr_two {
  width: 215px;
  height: 64px;
  margin-top: 30px;
  margin-left: 10px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #000000;
  line-height: 65px;
}
.product_item_p_two .nmbr_two span {
  padding-right: 10px;
}

.product_item_p_three {
  display: flex;
}
.product_item_p_three .nm p {
  padding-right: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #9f9f9f;
}
.product_item_p_three .cln p {
  padding-right: 20px;
}
.product_item_p_three .nm_n p {
  padding-right: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #9f9f9f;
}
.product_item_p_three .nm_n i {
  margin-top: 25px;
  margin-right: 20px;
  font-size: 20px;
  color: #000000;
}
/* Single Product End */

/* Description Start  */
#description{
  padding-top: 55px;
  padding-bottom: 60px;
  border-bottom: 1px solid black;
}
.des_title{
  text-align: center;
  margin-bottom: 45px;
}
.des_title .main_title{
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  color: #000000;
}
.des_title p{
  padding: 0 15px;
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  color: #9F9F9F;
}
.des_des p{
  padding-bottom: 35px;
  font-size: 16px;
  font-weight: 400;
  color: #9F9F9F;
  line-height: 30px;
}
.des_img_flex{
  display: flex;
  justify-content: space-between;
}
.des_img img{
  display: block;
  width: 100%;
  background: #F9F1E7;
}
/* Description End */

/* Product Part Start  */
#product {
  padding-top: 70px;
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 0.5px 0.5px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 0.5px 0.5px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 0.5px 0.5px 0px rgba(0, 0, 0, 0.23);
}
.common_title {
  text-align: center;
}
.common_title h1 {
  font-size: 40px;
  font-weight: 700;
  color: #333333;
  font-family: "Poppins", serif;
  padding-bottom: 35px;
}
.product_flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product_item {
  width: 22%;
  position: relative;
  margin-bottom: 35px;
}
.product_item img {
  width: 100%;
  display: block;
}
.product_image {
  position: relative;
}
.product_image .badge {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #e97171;
  position: absolute;
  top: 20px;
  right: 20px;
}
.product_image .badge p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", serif;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product_text {
  padding: 15px;
  background: #f4f5f7;
}
.product_text h2 {
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #3a3a3a;
}
.product_text h4 {
  padding: 15px 0;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", serif;
  color: #898989;
}
.product_text p {
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #3a3a3a;
  padding-bottom: 10px;
}
.product_text del {
  padding-left: 5px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", serif;
  color: #b0b0b0;
}
.product_overly {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.4s;
}
.product_item:hover .product_overly {
  opacity: 1;
}
.product_contant .product_btn a {
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #b88e2f;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product_contant .social {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translatex(-50%);
  width: 100%;
  text-align: center;
}
.product_contant .social a {
  color: #ffffff;
  font-size: 15px;
  margin: 10px;
}
.product_contant .social i {
  margin-right: 5px;
}
.badge_new {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #2ec1ac;
  position: absolute;
  top: 20px;
  right: 20px;
}
.badge_new p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", serif;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product_show {
  text-align: center;
}
.product_show a {
  padding: 22px 122px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #b88e2f;
  border: 2px solid #b88e2f;
  transition: .4s;
}
.product_show a:hover{
  background: #fff3e3;
}
/* Product Part End */

/* Footer Part Start  */
#footer {
  padding-top: 10px;
}
.footer_flex {
  width: 100%;
  display: flex;
  padding: 50px 0;
  -webkit-box-shadow: 0px 0.5px 0.5px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 0.5px 0.5px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 0.5px 0.5px 0px rgba(0, 0, 0, 0.23);
}
.footer_flex_one {
  padding-left: 50px;
  width: 35%;
}
.footer_flex_one h2 {
  padding-bottom: 60px;
  font-size: 24px;
  font-weight: 700;
  font-family: "Poppins", serif;
  color: #000000;
}
.footer_flex_one p {
  padding-right: 91px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", serif;
  color: #9f9f9f;
  line-height: 25px;
}
.footer_flex_two {
  width: 18%;
}
.footer_flex_two p {
  padding-bottom: 65px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", serif;
  color: #9f9f9f;
}
.footer_flex_two a {
  margin-bottom: 50px;
  display: block;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", serif;
  color: #000000;
}
.footer_flex_two a:hover {
  text-decoration: underline;
}
.footer_flex_three p {
  padding-bottom: 65px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", serif;
  color: #9f9f9f;
}
.footer_flex_three .home_footer_input {
  background: transparent;
  padding: 5px 25px 5px 0;
  border: none;
  border-bottom: 2px solid black;
}
.footer_flex_three a {
  margin-left: 10px;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", serif;
  text-transform: uppercase;
  color: #000000;
  border-bottom: 2px solid black;
}
.cpyright {
  padding: 20px 0;
  text-align: center;
}
.cpyright p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", serif;
  color: #000000;
}
/* Footer Part End */

/* Show Prdct Start  */
/* Show Prdct End */

/* Show Prdct Start  */
/* Show Prdct End */

/* Show Prdct Start  */
/* Show Prdct End */

/* Show Prdct Start  */
/* Show Prdct End */
/* Show Prdct Start  */
/* Show Prdct End */
/* Show Prdct Start  */
/* Show Prdct End */
/* Show Prdct Start  */
/* Show Prdct End */
